package tforms

templ UICheckboxField(field IHTMLInput) {
	<div class="mb-3">
		if len(field.Label()) > 0 {
			<h4 class="form-label">{ field.Label() }</h4>
		}
		if field.HasError() {
			<div class="text-danger"><small>{ field.Error() }</small></div>
		}
		switch field.Type() {
            case InputTypeRadio:
                for _, option := range field.Options() {
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name={field.Name()}
                        value={option.Value}
                        id={field.ID() + "_" + option.Value}
                        checked?={option.Selected}>
                      <label class="form-check-label" for={field.ID() + "_" + option.Value}>
                        { option.Label }
                      </label>
                    </div>
                }

            case InputTypeCheckbox:
                for _, option := range field.Options() {
                    <div class="form-check form-switch">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        role="switch"
                        id={field.ID() + "_" + option.Value}
                        checked?={option.Selected}
                        name={field.Name()}
                        value={option.Value}>
                      <label class="form-check-label" for={field.ID() + "_" + option.Value}>{ option.Label }</label>
                    </div>
                }
            default:
                <div class="mb-3">
                    <div class="alert alert-warning p-2">Unknown selectable field type</div>
                </div>
        }
    </div>
}