package tforms

templ UITextField(field IHTMLInput) {
	<div class="mb-3">
	    if len(field.Label()) > 0 {
	    	<label for={ field.ID() } class="form-label">{ field.Label() }</label>
		}
		<input
		    type={ field.HTMLInputType() }
            class={ "form-control", templ.KV("is-invalid", field.HasError()) }
            name={ field.Name() }
            id={ field.ID() }
            value={ field.HTMLValue() }
            placeholder={ field.Placeholder() }
            required?={field.Required()}
		/>
		if field.HasError() {
			<div class="invalid-feedback">{ field.Error() }</div>
		}
	</div>
}
