package tforms

templ UISelectField(field IHTMLInput) {
	<div class="mb-3">
		if len(field.Label()) > 0 {
			<label for={ field.ID() } class="form-label">{ field.Label() }</label>
		}
		<select
		    name={ field.Name() }
		    id={ field.ID() }
		    required?={ field.Required() }
		    class={ "form-select", templ.KV("is-invalid", field.HasError()) }>
			if len(field.Placeholder()) > 0 {
				<option selected>{ field.Placeholder() }</option>
			}
			for _, option := range field.Options() {
				<option value={ option.Value } selected?={ option.Selected }>{ option.Label }</option>
			}
		</select>
		if field.HasError() {
			<div class="invalid-feedback">{ field.Error() }</div>
		}
	</div>
}
