package tforms

templ UIForm(form IForm) {
	if form != nil {
		<form method={ string(form.GetMethod()) }
		      enctype={ string(form.GetType()) }
		      action={ templ.URL(form.GetActionUrl()) }
		      class={templ.KV("needs-validation", len(form.GetErrors()) > 0) }>
			for _, input := range form.GetInputs() {
				switch input.HTML().Type() {
				    case InputTypeHidden:
						@UIHiddenField(input.HTML())
					case InputTypeText:
						@UITextField(input.HTML())
					case InputTypeSelect:
						@UISelectField(input.HTML())
					default:
						<div class="mb-3">
							<div class="alert alert-warning p-2">Unknown input type</div>
						</div>
				}
			}
			<div>
				<button class="btn btn-success" type="submit">Save</button>
			</div>
		</form>
	} else {
		<div class="alert alert-danger">Form is not defined</div>
	}
}
